{% extends 'yg_bookings/base.html' %}

{% block content %}
<!-- <div class="container">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Profile</h3>
          <p><strong>Username:</strong> {{ CustomeUser.username }}</p>
          <p><strong>Email:</strong> {{ CustomeUser.email }}</p>
          <p><strong>Full Name:</strong> {{ CustomeUser.full_name }}</p>
          <p><strong>Age:</strong> {{ CustomeUser.age }}</p>
        </div>
      </div>
    </div> -->

     <!-- Booking table -->
     <table id="view-booking-table" class="table">
      <thead>
          <tr>
              <th>User</th>
              <th>Title</th>
              <th>Start Time</th>
              <th>Duration</th>
          </tr>
      </thead>
      {% for session in Sessions %}
      <tbody>
          <tr class="booking-row">
              <!--if superuser or staff user show all booking fields -->
              {% if request.user.is_superuser or request.user.is_staff %}
              <td>{{ booked_by.user }}</td>
              {% else %}
              <!-- if standard user is authenticated show their username but anonymize other usernames names -->
              {% if booked_by.user == request.user %}
              <td>{{ booked_by.user }}</td>
              {% else %}
              <td>*****</td>
              {% endif %}
              {% endif %}
              <!-- always show these fields -->
              <td>{{ session.title }}</td>
              <td>{{ session.start_time }}</td>
              <td>{{ session.duration }}</td>
              <td>
                <a href="{% url 'edit_booking' booking.id %}">Edit</a>
              </td>
            <!-- Cancel booking-->
              <td>
                <a data-bs-toggle="modal" data-bs-target="#modal-cancel-{{ forloop.counter }}">
                    Cancel
                </a>
                <!-- modal cancellation confirmation -->
                <div class="modal fade" id="modal-cancel-{{ forloop.counter }}" tabindex="-1"
                    aria-labelledby="modal-cancel-label-{{ forloop.counter }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-cancel-label-{{ forloop.counter }}">
                                    Cancel Booking for {{ session.title }}?
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to cancel the booking for
                                <span>{{ session.title }}</span> on {{ session.date }} at
                                {{ session.start_time }}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" data-bs-dismiss="modal">No</button>
                                <button type="button" class="btn"><a
                                        href="{% url 'cancel_booking' session.id %}">Yes</a></button>
                            </div>
                        </div>
                    </div>
                </div>
              </td>
        {% endfor %}

    <!-- <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Update Profile</h3>
          <form method="POST" action="{% url 'profile' %}">

            {% csrf_token %}

            {% if ProfileUpdateForm.errors %}

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Your Form Has Errors

                    {% for field in ProfileUpdateForm %}

                        {% if field.errors %}

                            {{ field.errors }}

                        {% endif %}

                    {% endfor %}

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            {% endif %}

            {{ ProfileUpdateForm.as_p }}

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-success">Update Information</button>
            </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Card title</h3>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Card title</h3>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div> -->

{% endblock %}


