{% extends 'yg_bookings/base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Profile</h3>
          <p><strong>Username:</strong> {{ user_info.username }}</p>
          <p><strong>Email:</strong> {{ user_info.email }}</p>
          <p><strong>Full Name:</strong> {{ user_info.full_name }}</p>
          <p><strong>Age:</strong> {{ user_info.age }}</p>
        </div>
      </div>
    </div>
    <!-- <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Update Profile</h3>
          <form method="POST" action="{% url 'profile' %}">

            {% csrf_token %}

            {% if ProfileUpdateForm.errors %}

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Your Form Has Errors

                    {% for field in ProfileUpdateForm %}

                        {% if field.errors %}

                            {{ field.errors }}

                        {% endif %}

                    {% endfor %}

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            {% endif %}

            {{ ProfileUpdateForm.as_p }}

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-success">Update Information</button>
            </div>
        </div>
      </div>
    </div> -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Card title</h3>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Card title</h3>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


