{% extends "yg_bookings/base.html" %}
{% load static %}
{% block content %}

<div id="calendar"></div>


<h1>Available Bookings</h1>
<!-- <ul>
    {% for session in Sessions %}
        <li>
            <h2>{{ booking.title }}</h2>
            <p>Type: {{ session.type }}</p>
            <p>Description: {{ session.description }}</p>
            <p>Date: {{ session.date }}</p>
            <p>Time: {{ session.time }}</p>
            <p>Duration: {{ session.duration }}</p>
            <form method="POST" action="{% url 'book' booking.id %}">
                {% csrf_token %}
                <button type="submit">Book Now</button>
            </form>
        </li>
    {% endfor %}
</ul> -->

<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/locales-all.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        events: '/yg_bookings/sessions/',  // URL to fetch the sessions
        navLinks: true,  // can click day/week names to navigate views
        editable: false,
        selectable: true,
        nowIndicator: true,
        eventClick: function(info) {
            alert('Session: ' + info.event.title + '\nDate: ' + info.event.date.toLocaleString() + '\nTime: ' + info.event.time.toLocaleString());
        }
    });
    calendar.render();
});
</script>
{% endblock %}

