{% extends "base.html" %}

<div id="calendar"></div>


<h1>Available Bookings</h1>
<ul>
    {% for session in sessions %}
        <li>
            <h2>{{ booking.title }}</h2>
            <p>Type: {{ session.type }}</p>
            <p>Description: {{ session.description }}</p>
            <p>Date: {{ session.date }}</p>
            <p>Time: {{ session.time }}</p>
            <p>Length: {{ session.length }}</p>
            <form method="POST" action="{% url 'book' booking.id %}">
                {% csrf_token %}
                <button type="submit">Book Now</button>
            </form>
        </li>
    {% endfor %}
</ul>

<script src="static/FullCalendar"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: '/bookings/json/',  // URL to fetch JSON data
                eventClick: function(info) {
                    alert(info.event.title + "\n" + info.event.extendedProps.description);
                }
            });

            calendar.render();
        });
    </script>

